Repository MSAFriends/ecommerce, pull requests merged in 2023-08, with the labels that each got.

#31 [product-service] products and product_images table data migration
  service-product/module-api/build.gradle
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/ModuleApiApplication.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/external/v1/BatchExternalControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductInternalApiControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/v1/ProductInternalApiControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/BatchService.java
  service-product/module-api/src/main/resources/application-local.yml
  service-product/module-api/src/main/resources/application-prod.yml
  service-product/module-api/src/main/resources/sql/schema-h2.sql
  service-product/module-api/src/main/resources/sql/schema-mysql.sql
  service-product/module-batch/build.gradle
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/config/FileItemReaderJobConfig.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/config/strategy/H2QueryStrategy.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/config/strategy/MySQLQueryStrategy.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/config/strategy/ProfileBasedQueryStrategyProvider.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/config/strategy/QueryStrategy.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/config/strategy/QueryStrategyParams.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/csv/ElevenStreetCSV.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/csv/ProductElevenStreetCSV.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/csv/ProductImageElevenStreetCSV.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/listener/JobCompletionNotificationListener.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/processor/ElevenStreetItemProcessor.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/processor/ElevenStreetProductImageItemProcessor.java
  service-product/module-batch/src/main/java/com/github/msafriends/modulebatch/processor/ElevenStreetProductItemProcessor.java
  service-product/module-core/build.gradle
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/domain/product/Product.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/domain/productimage/ProductImage.java
Labels: 🔄 API, 🗄️ database

#35 [product-service] Category 등록, 전체 조회 API추가
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/CategoryInternalApiControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/dto/CategoryRequest.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/dto/CategoryResponse.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/CategoryService.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/common/AcceptanceTest.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/common/fixture/category/CategoryFixture.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/common/fixture/product/ProductFixture.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/common/fixture/product/ProductImageFixture.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/common/fixture/reply/ReplyFixture.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/common/fixture/review/ProductReviewFixture.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/CategoryInternalApiControllerV1Test.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductControllerTest.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/service/CategoryServiceTest.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/service/ProductServiceTest.java
  service-product/module-api/src/test/java/common/fixture/category/CategoryFixture.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/domain/category/Category.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/repository/CategoryRepository.java
Labels: 🆕 enhancement, 🔄 API, 👀 review

#36 [product-service] 상품 재고 증감 API 개발
  module-common/src/main/java/com/github/msafriends/modulecommon/exception/ErrorCode.java
  module-common/src/main/java/com/github/msafriends/modulecommon/exception/product/NotEnoughStockException.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductInternalApiControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/dto/UpdateStockRequest.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/ProductService.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/common/fixture/product/ProductFixture.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductControllerTest.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/service/ProductServiceTest.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/domain/product/Product.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/repository/ProductRepository.java
Labels: 🆕 enhancement, 🔄 API, 👀 review

#38 [product-service] Add product image external api
  module-common/src/main/java/com/github/msafriends/modulecommon/exception/ErrorCode.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/external/v1/ProductImageExternalApiControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/dto/ProductImageRequest.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/dto/ProductImageResponse.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/ProductImageService.java
  service-product/module-api/src/test/java/domain/product/controller/ProductImageExternalApiControllerV1Test.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/repository/ProductImageRepository.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/repository/ProductRepository.java
Labels: 🔄 API

#44 [product-concurrency] 재고감소 API 동시성 문제 해결 및 각 도메인 조회 API 추가
  module-common/src/main/java/com/github/msafriends/modulecommon/exception/ErrorCode.java
  service-order/module-api/src/main/resources/application-test.yml
  service-product/module-api/build.gradle
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/config/RedisConfig.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/config/RedissonClientBuidler.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/external/v1/BatchExternalControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductInternalApiControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductReviewController.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/dto/ReviewUpdateRequest.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/dto/product/ProductRequest.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/dto/product/ProductResponse.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/dto/productreview/ProductReviewRequest.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/dto/productreview/ProductReviewResponse.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/ProductReviewService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/DefaultProductServiceImpl.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/OptimisticLockProductService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/PessimisticLockProductService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/ProductService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/RedisLockRepository.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/batch/BatchService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/facade/LettuceLockProductFacade.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/facade/OptimisticLockProductFacade.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/facade/RedissonLockProductFacade.java
  service-product/module-api/src/main/resources/application-test.yml
  service-product/module-api/src/main/resources/sql/category.sql
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/common/fixture/product/ProductFixture.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductControllerTest.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/repository/ProductRepositoryTest.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/service/DefaultProductServiceImplTest.java
  service-product/module-core/build.gradle
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/domain/product/Product.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/domain/review/ProductReview.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/repository/ProductRepository.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/repository/ProductReviewRepository.java
Labels: 🆕 enhancement, 🔄 API, 👀 review

#50 [module-redis] Redis Config 정의
  module-redis/src/main/java/com/github/msafriends/moduleredis/cache/FIFOCacheWithWriteBack.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/cache/LFUCacheWithWriteThrough.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/cache/LRUCacheWithReadThrough.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/cache/TTLCacheWithReadWrite.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/cache/strategy/CacheStrategy.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/config/CustomCachingManager.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/config/RedisConfig.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/config/RedissonConfig.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/config/usage.md
Labels: 🗄️ database, 🔴 priority: low

#51 [feature/product] 조건별 상품조회 기능 추가 및 기존 로직 일부 수정
  module-redis/src/main/java/com/github/msafriends/moduleredis/cache/FIFOCacheWithWriteBack.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/cache/LFUCacheWithWriteThrough.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/cache/LRUCacheWithReadThrough.java
  module-redis/src/main/java/com/github/msafriends/moduleredis/cache/TTLCacheWithReadWrite.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/config/AsyncConfig.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/config/RedisCacheConfig.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/config/RedisConfig.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/external/v1/ProductExternalApiControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/external/v1/ProductImageExternalApiControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/CategoryInternalApiControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductInternalApiControllerV1.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductReviewController.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/CategoryService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/ProductImageService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/ProductReviewService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/DefaultProductServiceImpl.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/OptimisticLockProductService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/PessimisticLockProductService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/ProductService.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/RedisLockRepository.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/facade/LettuceLockProductFacade.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/facade/OptimisticLockProductFacade.java
  service-product/module-api/src/main/java/com/github/msafriends/serviceproduct/moduleapi/service/product/facade/RedissonLockProductFacade.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/common/fixture/category/CategoryFixture.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/common/fixture/product/ProductFixture.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductControllerTest.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/controller/internal/v1/ProductImageExternalApiControllerV1Test.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/repository/ProductQueryRepositoryTest.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/service/CategoryServiceTest.java
  service-product/module-api/src/test/java/com/github/msafriends/serviceproduct/moduleapi/service/ProductServiceTest.java
  service-product/module-core/build.gradle
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/aop/ExecutionTimer.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/aop/annotation/ExeTimer.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/domain/product/Product.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/category/CategoryRequest.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/category/CategoryResponse.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/product/DiscountOrder.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/product/ProductRequest.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/product/ProductResponse.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/product/ProductSearchCondition.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/product/SatisfactionOrder.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/product/UpdateStockRequest.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/productimage/ProductImageRequest.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/productimage/ProductImageResponse.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/productreview/ProductReviewRequest.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/productreview/ProductReviewResponse.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/dto/productreview/ReviewUpdateRequest.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/exception/ErrorCode.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/exception/InvalidValueException.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/exception/product/NotEnoughStockException.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/repository/ProductQueryRepository.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/repository/ProductRepository.java
  service-product/module-core/src/main/java/com/github/msafriends/serviceproduct/modulecore/repository/ProductReviewRepository.java
Labels: 🆕 enhancement, 🔄 API, 🔗 dependencies
